# LunAPI : models

Links to notebooks in this repository: [Index](./00_overview.ipynb) | [Individuals](./01_indivs.ipynb) | [Projects](./02_projects.ipynb) | [Staging](./03_staging.ipynb) | [Models](./04_models.ipynb) | [Advanced](./98_advanced.ipynb) | [Reference](./99_reference.ipynb)

This page is under development - currently it only contains rough notes.

In [1]:
import lunapi as lp
proj = lp.proj()

initiated lunapi v0.0.4 <lunapi.lunapi0.luna object at 0xffff85847570>

enabling console outputs

In [2]:
proj.build( [ '/tutorial/' , '-ext=-profusion.xml' ] )

3

In [3]:
proj.sample_list()

[('learn-nsrr01',
  '/tutorial/edfs/learn-nsrr01.edf',
  {'/tutorial/edfs/learn-nsrr01-profusion.xml'}),
 ('learn-nsrr02',
  '/tutorial/edfs/learn-nsrr02.edf',
  {'/tutorial/edfs/learn-nsrr02-profusion.xml'}),
 ('learn-nsrr03',
  '/tutorial/edfs/learn-nsrr03.edf',
  {'/tutorial/edfs/learn-nsrr03-profusion.xml'})]

In [4]:
p = proj.inst( 1 )

___________________________________________________________________
Processing: learn-nsrr02 | /tutorial/edfs/learn-nsrr02.edf
 duration 09.57.30, 35850s | time 21.18.06 - 07.15.36 | date 01.01.85

 signals: 14 (of 14) selected in a standard EDF file
  SaO2 | PR | EEG_sec | ECG | EMG | EOG_L | EOG_R | EEG
  AIRFLOW | THOR_RES | ABDO_RES | POSITION | LIGHT | OX_STAT

## Single individual

This fits the Sun et al (2019) model of brain age based on the sleep EEG as described [here](https://zzz.bwh.harvard.edu/luna/ref/predict/#sun2019) using Luna's [PREDICT](http://zzz.bwh.harvard.edu/luna/ref/predict/) framework.

Note - we're making up the true ages of these three individuals for now, as true values not to hand/known.  We'll also silence the verbose log outputs.

In [5]:
proj.silence()
p.predict_SUN2019( 'EEG' , age = 62 )

silencing console outputs

In [6]:
p.table( 'PREDICT' )

             ID  NF NF_OBS OKAY          Y         Y1  YOBS
0  learn-nsrr02  13     13    1  60.597311  67.582365  62.0

In [7]:
p.table( 'PREDICT' , 'FTR' )

,ID,FTR,B,D,IMP,M,REIMP,SD,X,Z
0,learn-nsrr02,COUPL_OVERLAP_C,-0.804678,-0.449101,0,366.302452,0,191.716141,256.0,-0.575343
1,learn-nsrr02,DENS_C,-1.665346,-0.667626,0,4.513583,0,1.9116,3.438596,-0.562349
2,learn-nsrr02,alpha_bandpower_kurtosis_C_N2,-3.184509,-0.271177,0,7.331549,0,2.598451,7.701239,0.142273
3,learn-nsrr02,alpha_bandpower_mean_C_N1,2.29108,-0.992484,0,0.068193,0,0.047436,0.039154,-0.612167
4,learn-nsrr02,delta_alpha_mean_C_N3,-1.348501,-0.514881,0,1.343991,0,0.548411,0.512308,-1.516532
5,learn-nsrr02,delta_bandpower_kurtosis_C_N2,-1.868672,-0.512531,0,17.017404,0,4.071176,11.987432,-1.235508
6,learn-nsrr02,delta_bandpower_mean_C_N3,-2.620558,-0.522081,0,1.445,0,0.618704,0.528062,-1.482031
7,learn-nsrr02,delta_theta_mean_C_N3,1.386207,-0.615108,0,1.224915,0,0.458186,0.487287,-1.60989
8,learn-nsrr02,kurtosis_N2_C,-0.052233,0.418827,0,2.851093,0,1.34911,1.838891,-0.750274
9,learn-nsrr02,kurtosis_N3_C,-1.247537,0.216441,0,1.086065,0,0.576482,0.600127,-0.842936
10,learn-nsrr02,sigma_bandpower_kurtosis_C_N2,1.2479,2.999929,0,15.196505,0,4.749287,27.245119,2.536931
11,learn-nsrr02,theta_bandpower_kurtosis_C_N2,-3.744439,0.226069,0,7.46163,0,2.55744,6.207508,-0.490382
12,learn-nsrr02,theta_bandpower_kurtosis_C_N3,0.157282,0.447961,0,5.36434,0,2.045928,5.369665,0.002602

## Project-level invocation

Set age variables in a `vars` file.

In [8]:
%%sh
#echo -ne "ID\tage\n" > vars.txt
#echo -ne "learn-nsrr01\t60\n" >> vars.txt
#echo -ne "learn-nsrr02\t61\n" >> vars.txt
#echo -ne "learn-nsrr03\t62\n" >> vars.txt
cat vars.txt

ID	age
learn-nsrr01	60
learn-nsrr02	61
learn-nsrr03	62

In [9]:
proj.var( 'vars' , 'vars.txt' )
proj.predict_SUN2019( 'EEG' )

{'EPOCH: BL':              ID   DUR GENERIC   INC      NE OFFSET
 0  learn-nsrr01  30.0       0  30.0  1364.0    0.0
 1  learn-nsrr02  30.0       0  30.0  1195.0    0.0
 2  learn-nsrr03  30.0       0  30.0  1364.0    0.0}

In [10]:
proj.strata()

     Command         Stata
0      EPOCH            BL
1       MASK     EMASK_STG
2        MTM  B1_B2_CH_STG
3        MTM      B_CH_STG
4        MTM         B_STG
5        MTM      CH_F_STG
6    PREDICT            BL
7    PREDICT           FTR
8         RE            BL
9         RE           STG
10  SPINDLES      CH_F_STG
11  SPINDLES        CH_STG
12     STATS      CH_E_STG
13     STATS        CH_STG

In [11]:
proj.table( 'PREDICT' )

             ID  NF NF_OBS OKAY          Y         Y1  YOBS
0  learn-nsrr01  13     13    1  48.989031  54.903227  60.0
1  learn-nsrr02  13     13    1  60.597311  67.046936  61.0
2  learn-nsrr03  13     13    1  50.259777  57.244831  62.0

## Notes

It takes approximately 15-20 seconds for each individual - for larger samples, you should use parallel approaches

If the model training data are located elsewhere, set it before running the `predict_*()` functions.

lp.resources.MODEL_PATH = '/Users/john/dropbox/models/'

Running with multiple central EEGs:

In [12]:
p.predict_SUN2019( 'EEG,EEG_sec' , age = 62 )

In [13]:
p.table( 'PREDICT' )

             ID  NF NF_OBS OKAY          Y         Y1  YOBS
0  learn-nsrr02  13     13    1  60.954578  67.939631  62.0

In [14]:
p.table( 'PREDICT' , 'FTR' )

,ID,FTR,B,D,IMP,M,REIMP,SD,X,Z
0,learn-nsrr02,COUPL_OVERLAP_C,-0.804678,-0.55603,0,366.302452,0,191.716141,258.5,-0.562302
1,learn-nsrr02,DENS_C,-1.665346,-0.933124,0,4.513583,0,1.9116,3.426065,-0.568905
2,learn-nsrr02,alpha_bandpower_kurtosis_C_N2,-3.184509,-0.561559,0,7.331549,0,2.598451,7.012691,-0.122711
3,learn-nsrr02,alpha_bandpower_mean_C_N1,2.29108,-0.707417,0,0.068193,0,0.047436,0.043152,-0.527895
4,learn-nsrr02,delta_alpha_mean_C_N3,-1.348501,-0.452593,0,1.343991,0,0.548411,0.590442,-1.374059
5,learn-nsrr02,delta_bandpower_kurtosis_C_N2,-1.868672,-0.79777,0,17.017404,0,4.071176,11.662675,-1.315278
6,learn-nsrr02,delta_bandpower_mean_C_N3,-2.620558,-0.37985,0,1.445,0,0.618704,0.614291,-1.34266
7,learn-nsrr02,delta_theta_mean_C_N3,1.386207,-0.584306,0,1.224915,0,0.458186,0.561091,-1.44881
8,learn-nsrr02,kurtosis_N2_C,-0.052233,0.676949,0,2.851093,0,1.34911,1.987204,-0.640339
9,learn-nsrr02,kurtosis_N3_C,-1.247537,0.290975,0,1.086065,0,0.576482,0.618248,-0.811504
10,learn-nsrr02,sigma_bandpower_kurtosis_C_N2,1.2479,2.541247,0,15.196505,0,4.749287,25.395533,2.147486
11,learn-nsrr02,theta_bandpower_kurtosis_C_N2,-3.744439,0.382805,0,7.46163,0,2.55744,6.130787,-0.520381
12,learn-nsrr02,theta_bandpower_kurtosis_C_N3,0.157282,0.005598,0,5.36434,0,2.045928,4.375104,-0.483515